doctype html
html(lang="sl")
  head
    meta(charset="UTF-8")
    title Order Confirmation
    style.
      body {
        font-family: sans-serif;
        font-size: 12px;
        color: #000;
        background: #fff;
        padding: 20px;
      }
      h1, h2 {
        font-size: 16px;
        margin: 0 0 10px 0;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
      }
      th, td {
        border: 1px solid #ccc;
        padding: 6px;
        text-align: left;
      }
      .right { text-align: right; font-variant-numeric: tabular-nums; }
      .footer { margin-top: 30px; font-size: 11px; }

  body
    h1 Order confirmation ##{order.order_number}

    h2 Order details
    p
      | Customer: #{order.user.first_name} #{order.user.last_name}
      br
      | Order ID: #{order.order_id}
      br
      | Venue: #{order.business.name}
      br
      | Order type: #{order.details.type.charAt(0).toUpperCase() + order.details.type.slice(1)}
      br
      | Delivery time: #{new Date(order.details.customer_expected_delivery_at).toLocaleString('sl-SI')}

    h2 Payment method
    p
      | #{order.payment.type === 'CASH' ? 'Cash' : order.payment.type.replace('_', ' ')}  
      | #{order.details.total_price.toFixed(2)} €

    h2 Items

    table
      thead
        tr
          th Item
          th VAT %
          th Quantity
          th Gross unit price (€)
          th Price (€)
      tbody
        each item in order.items
          tr
            td #{item.names.sl || item.names.en}
            td #{item.vat ? item.vat.toFixed(2) : 9.50.toFixed(2)}%
            td #{item.quantity}
            td.right #{item.price.toFixed(2)}
            td.right #{(item.price * item.quantity).toFixed(2)}
        if order.details.minimum_order_fee
          tr
            td Minimum Order Fee
            td 9.50%
            td 1
            td.right #{order.details.minimum_order_fee.toFixed(2)}
            td.right #{order.details.minimum_order_fee.toFixed(2)}
        // Add delivery row
        tr
          td Delivery
          td 9.50%
          td 1
          td.right #{order.details.delivery_cost.toFixed(2)}
          td.right #{order.details.delivery_cost.toFixed(2)}


    p.right(style="font-weight: bold; margin-top: 10px")
      | Total in EUR (incl. VAT): #{order.details.total_price.toFixed(2)} €

    h2 Seller details
    p
      | #{order.business.name}
      br
      | Business ID: #{order.business.registration_id}
      br
      | VAT ID: #{order.business.tax_id}
      br
      | Address: #{order.business.address ? order.business.address.address : order.details.provider_address ? order.details.provider_address.address : 'N/A'}

    p.footer This document is digitally signed.
